[Desktop Entry]
Comment=
Exec=kmenuedit
Icon=customdesktopmenu
Name=KDE Menu Editor
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
